.bpmn-context-menu {
  display: flex;
  width: 400px;
  max-height: 360px;
  overflow: hidden;
  flex-direction: column;
  position: fixed;
  z-index: 100;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2px;
  padding: 8px 14px;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  line-height: 1.6;
  .context-menu_header {
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid rgb(239, 239, 245);
  }
  .context-menu_body {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .context-menu_item {
    width: 100%;
    height: 32px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    padding: 0 4px;
    display: flex;
    align-items: center;
    &:hover {
      background-color: rgb(241, 242, 244);
    }
    .context-menu_item_icon {
      font-size: 20px;
      margin-right: 8px;
    }
  }
}
