.palette {
  width: 360px;
  box-sizing: border-box;
  padding: 16px;
}
.miyue-sql-task{
  background-image: url("./process-icons/mysql.png");
  background-size: 1em 1em;
  background-position: center center;
  background-repeat: no-repeat;
}
