.bpmn-toolbar {
  width: 100%;
  height: min-content;
  box-sizing: border-box;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  > div[class^='el-button-group'] + div[class^='el-button-group'] {
    margin-left: 16px;
  }

  .el-button__no-padding {
    padding: 0 15px;
    height: 32px;
  }
}

.el-popover.button-popover {
  min-width: unset;
  padding: 8px 16px;
}

.button-list_column {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 8px;
  padding: 8px 0;
  .el-button {
    margin-left: 0;
  }
}

.preview-model {
  width: 100%;
  height: 64vh;
  pre,
  code {
    word-break: break-word;
    white-space: pre-wrap;
  }
  pre {
    height: 100%;
    margin: 0;
    overflow-y: auto;
  }
  code.hljs {
    min-height: 100%;
    font-size: 16px;
    box-sizing: border-box;
  }
}

.shortcut-keys-model {
  width: 460px;
  display: grid;
  line-height: 20px;
  font-size: 14px;
  grid-template-columns: 160px auto;
}

.el-message-box.bpmn-events-box {
  width: auto;
}
.event-listeners-box {
  width: 520px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  .event-listeners-box {
    margin-top: 16px;
    flex: 1;
    width: 520px;
    overflow-y: auto;
  }
  .listener-item {
    margin: 4px 0;
  }
}

/* 修改弹窗宽度 */
.n-dialog.el-dialog {
  width: auto;
}
