/* 改变主题色变量 */
$--color-primary: #1890ff;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

.el-table td,
.el-table th {
  color: #333;
}
.el-drawer__header {
  padding: 8px;
  margin: 0;
}
div[class^="el-drawer"]:focus {
  outline: none;
}
.el-drawer__body {
  box-sizing: border-box;
  padding: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
}